.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  display: flex;
  align-items: center;
}

.tic-tac-toe .grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: row wrap;
}

.tic-tac-toe .grid > div {
  display: flex;
}

.restart {
  margin-top: 15px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.tic-tac-toe .grid > button {
  width: 55px;
  height: 55px;
  font-size: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.tic-tac-toe .grid > div > button {
  width: 50px;
  height: 50px;
  font-size: 24px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.tic-tac-toe .winner {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: green;
}
